<div class="panel table-responsive panel-default table1">
    <!--s1-->
    <div class="header1" onClick="hideShow('s1Body')">
        <a class="secLink" href="javascript:void(0)">
            Section 1: <%= __("s1")%>
        </a>
    </div>
    <table class="table table1" id="s1Body" cellspacing="0">
        <!-- s1 -->
        <tbody>
            <!-- s1a -->
            
            <tr class="header2">
                <td align="right" class="text-right sectionCell1">A.</td>
                <td class="seclabelCell14" colspan="6"><%=__("s1a")%></td>
            </tr>

            <!-- s1a_1 -->
            <tr class="header3">
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" width="1%" class="text-right">1.</td>
                <td class="labelCell14"><%= __("s1a_1")%></td>
                <td class="labelCell14v"></td>
                <td class="labelCell14"></td>
                <td class="labelCell14v"></td>
            </tr>
            <tr>
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell"><%= __("s1a_1a")%></td>
                <td class="labelCell14v">
                      <%if(info.s1a_1a!=undefined){%>
                <%=info.s1a_1a%>
                    <%}%>
                </td>
                <td class="labelCell14 questionCell"><%=__("s1a_1b")%></td>
                <td class="labelCell14v">
                 <%if(info.s1a_1b!=undefined){%>
                 <%=info.s1a_1b%>
                  <%}%></td>
            </tr>
            <tr>
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell"><%=__("s1a_1c")%></td>
                <td class="labelCell14v">
                <%if(info.s1a_1c!=undefined){%>
                <%=info.s1a_1c%>
                 <%}%></td>
                <td class="labelCell14">&nbsp;</td>
                <td class="labelCell14v">&nbsp;</td>
            </tr>

            <!-- s1a_2 -->
            <tr class="header3">
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">2.</td>
                <td class="labelCell14"><%=__("s1a_2")%></td>
                <td class="labelCell14v">&nbsp;</td>
                <td class="labelCell14"></td>
                <td class="labelCell14v"></td>
            </tr>
            <tr>
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell"><%=__("_county")%></td>
                <td class="labelCell14v">
                  <%if(info._county!=undefined){%>
                <%=info._county%>
                    <%}%>
                </td>
                <td class="labelCell14 questionCell"><%=__("_subcounty")%></td>
                <td class="labelCell14v">
                 <%if(info._subcounty!=undefined){%>
                 <%=info._subcounty%>
                     <%}%>
                 </td>
            </tr>
            <tr>
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell"><%=__("s1a_2c")%></td>
                <td class="labelCell14v">
                <%if(info.s1a_2c!=undefined){%>
                <%=info.s1a_2c%>
                 <%}%></td>
                <td class="labelCell14 questionCell"><%=__("s1a_2d")%></td>
                <td class="labelCell14v">
                 <%if(info.s1a_2d!=undefined){%>
                 <%=info.s1a_2d%>
                 <%}%></td>
            </tr>
            <tr>
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell"><%=__("s1a_2e")%></td>
                <td class="labelCell14v">
                 <%if(info.s1a_2e!=undefined){%>
                 <%=info.s1a_2e%>
                 <%}%></td>
                <td class="labelCell14"></td>
                <td class="labelCell14v"></td>
            </tr>

            <!-- s1a_3 -->
            <tr class="header3">
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">3.</td>
                <td class="labelCell14"><%=__("s1a_3")%></td>
                <td class="labelCell14v">&nbsp;</td>
                <td class="labelCell14"></td>
                <td class="labelCell14v"></td>
            </tr>
            <tr>
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell"><%=__("s1a_3a")%></td>
                <td class="labelCell14v">
                 <%if(info.s1a_3a!=undefined){%>
                 <%=info.s1a_3a%>
                 <%}%></td>
                <td class="labelCell14 questionCell"><%=__("s1a_3b")%></td>
                <td class="labelCell14v">
                 <%if(info.s1a_3b!=undefined){%>
                 <%=info.s1a_3b%>
                  <%}%></td>
            </tr>
            <tr>

                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell"><%=__("s1a_3c")%></td>
                <td class="labelCell14v">
                 <%if(info.s1a_3c!=undefined){%>
                 <%=info.s1a_3c%>
                  <%}%></td>
                <td class="labelCell14 questionCell"><%=__("s1a_3d")%></td>
                <td class="labelCell14v">
                 <%if(info.s1a_3d!=undefined){%>
                 <%=info.s1a_3d%>
                  <%}%></td>
            </tr>
            <tr>

                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell"><%=__("s1a_3e")%></td>
                <td class="labelCell14v">
                 <%if(info.s1a_3e!=undefined){%>
                 <%=info.s1a_3e%>
                 <%}%></td>
                <td class="labelCell14"></td>
                <td class="labelCell14v"></td>
            </tr>

            <!-- s1b -->
            <tr class="header2">
                <td align="right" class="text-right sectionCell1">B.</td>
                <td class="secLabelCell" colspan="6"><%= __("s1b") %></td>
            </tr>

            <!-- s1b_1 -->
            <tr>
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                 <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell" ><%= __("_ownership") %></td>
                <td class="labelCell14v">
                 <%if(info._ownership!=undefined){%>
                 <%=info._ownership%>
                 <%}%></td>
                <td class="labelCell14 questionCell"><%= __("s1b_1b") %></td>
                <td class="labelCell14v">
                 <%if(info.s1b_1b!=undefined){%>
                 <%=info.s1b_1b%>
                 <%}%></td>
            </tr>
            <tr>
                <td align="right" class="text-right sectionCell1">&nbsp;</td>
                 <td align="right" class="text-right">&nbsp;</td>
                <td class="labelCell14 questionCell" ><%= __("_level") %></td>
                <td class="labelCell14v">
                  <%if(info._level!=undefined){%>
                  <%=info._level%>
                  <%}%></td>
                <td class="labelCell14 questionCell"><%= __("s1b_1d") %></td>
               

               
                 <td class="labelCell14v">

                  <%if(info.s1b_1d_m!=undefined){
                    var serviceArray=info.s1b_1d_m.split(" ");
                   
                %>
                 <%for(var i=0;i< serviceArray.length;i++){%>
                 <%=__("s1b_1d_m_"+serviceArray[i])%>
                 <% if(i!=serviceArray.length-1 || info.s1b_1d_s!=undefined){%>
                ,
                 <%}
                 }
                 }
                 %>
                 <%if(info.s1b_1d_s!=undefined){
                   
                    var otherServiceArray=info.s1b_1d_s.split(" ");
                %>
                  <%for(var j=0;j< otherServiceArray.length;j++){%>
                <%=__("s1b_1d_s_"+otherServiceArray[j])%>
                <% if(j!=otherServiceArray.length-1){%>
                ,
                 <%}
                 }
                 }%>
                 
                 </td>
               
                </tr>

                <!-- s1c -->
                <tr class="header2">
                    <td align="right" class="text-right sectionCell1">C.</td>
                    <td class="secLabelCell" colspan="6"><%= __("s1c") %></td>
                </tr>
                <!-- s1c_1 -->
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 questionCell" ><%= __("s1c_1a") %></td>
                    <td class="labelCell14v">
                     <%if(info.s1c_1a!=undefined){%>
                     <%=info.s1c_1a%>
                         <%}%></td>
                    <td class="labelCell14 questionCell"><%= __("s1c_1b") %></td>
                    
                     <%if(info.s1c_1b!=undefined){%>
                     <td class="labelCell14v">
                     <%=info.s1c_1b%> </td>
                     <%}else { %>
                    <td class="labelCell14v" >N/A</td>
                    <% } %>
                </tr>
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 questionCell" ><%= __("s1c_1c") %></td>
                    <td class="labelCell14v">
                     <%if(info.s1c_1c!=undefined){%>
                     <%=info.s1c_1c%>
                     <%}%></td>
                    <td class="labelCell14 questionCell"><%= __("s1c_1d") %></td>
                     <%if(info.s1c_1d!=undefined){%>
                    <td class="labelCell14v"><%=info.s1c_1d%></td>
                    <%}else{%>
                     <td class="labelCell14v">N/A</td>
                    <%}%>
                </tr>
                <!-- s1d -->
                <tr class="header2">
                    <td align="right" class="text-right sectionCell1">D.</td>
                    <td class="secLabelCell" colspan="6"><%= __("s1d") %></td>
                </tr>
                <!-- s1d_1 -->
                <tr class="header3">
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">1.</td>
                    <td class="labelCell14"><%= __("s1d_1") %></td>
                    <td class="labelCell14v">&nbsp;</td>
                    <td class="labelCell14">&nbsp;</td>
                    <td class="labelCell14v">&nbsp;</td>
                </tr>
                <!-- s1d_1a -->
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 questionCell"><%= __("s1d_1a") %></td>
                    <td class="labelCell14v">
                    <%if(info.s1d_1a!=undefined){%>
                    <%=info.s1d_1a%>
                        <%}%>
                    </td>
                    <td class="labelCell14 questionCell"><%= __("s1d_1b") %></td>
                    <td class="labelCell14v">
                    <%if(info.s1d_1b!=undefined){%>
                    <%=info.s1d_1b%>
                    <%}%></td>
                </tr>
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 questionCell"><%= __("s1d_1c") %></td>
                    <td class="labelCell14v">
                    <%if(info.s1d_1c!=undefined){%>
                    <%=info.s1d_1c%>
                    <%}%></td>
                    <td class="labelCell14 questionCell"><%= __("s1d_1d") %></td>
                    <td class="labelCell14v">
                    <%if(info.s1d_1d!=undefined){%>
                    <%=info.s1d_1d%>
                    <%}%></td>
                </tr>
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 questionCell" colspan="1"><%= __("s1d_1e") %></td>
                    <td class="labelCell14" colspan="2">
                    <%if(info.s1d_1e!=undefined){%>
                    <%=info.s1d_1e%>
                    <%}%></td>
                </tr>
                <tr class="header3">
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">2.</td>
                    <td class="labelCell14"><%= __("s1d_2") %></td>
                    <td class="labelCell14v">&nbsp;</td>
                    <td class="labelCell14">&nbsp;</td>
                    <td class="labelCell14v">&nbsp;</td>
                </tr>
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 questionCell" colspan="3">
                    <%= __("s1d_2a") %></td>
                    <% if(info.s1d_2a == 1){%> 
                    <td class="labelCell14" colspan="1">Yes</td>
                    <% }else if(info.s1d_2a == 0){ %>
                    <td class="labelCell14" colspan="1">No</td>
                     <% }else { %>
                    <td class="labelCell14 notAvail" >N/A</td>
                    <% } %>
                </tr>
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 questionCell" colspan="3"><%= __("s1d_2b") %></td>
                    <% if(info.s1d_2b == 1){%> 
                    <td class="labelCell14" colspan="1">Yes</td>
                    <% }else if(info.s1d_2b == 0){ %>
                    <td class="labelCell14" colspan="1">No</td>
                     <% }else { %>
                    <td class="labelCell14 notAvail" >N/A</td>
                    <% } %>
                </tr>
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 questionCell" colspan="3"><%= __("s1d_2c") %></td>
                    <% if(info.s1d_2c == 1){%> 
                    <td class="labelCell14" colspan="1">Yes</td>
                    <% }else if(info.s1d_2b == 0){ %>
                    <td class="labelCell14" colspan="1">No</td>
                    <% }else { %>
                    <td class="labelCell14 notAvail" >N/A</td>
                    <% } %>
                </tr>
                <tr>
                    <td align="right" class="text-right sectionCell1">&nbsp;</td>
                    <td align="right" class="text-right">&nbsp;</td>
                    <td class="labelCell14 " colspan="3"><%= __("s1d_2d") %></td>
                    <td class="labelCell14" colspan="1">&nbsp;</td>
                </tr>
                <!--inner table row-->
                <tr>
                    <td align="right" class="text-right sectionCell1"></td>
                    <td class="labelCell" colspan="6">
                        <table class="table innertable" cellspacing="0" style="border-collapse: initial;">
                            <tr>
                                <th class="tableHead"><%= __("s1d_2d_n") %></th>
                                <th class="tableHead"><%= __("s1d_2e_n") %></th>
                                <th class="tableHead"><%= __("s1d_2f_n") %> *</th>
                                <th class="tableHead"><%= __("s1d_2g_n") %></th>
                            </tr>
                            <!--iterate these rows-->
                            <%

                            for(i=1; i<=21; i++) {

                            if(info['s1d_2d_n'+i] ==1){
                            %>

                            <tr>
                                
                                <td><%= __("s1d_2d_n"+i) %></td>
                                

                                <% if(info['s1d_2e_n'+i] == undefined){%> 
                                <td class="centerCell notAvail">N/A</td>
                                <% }else {%>
                                <td class="centerCell">  <%= info['s1d_2e_n'+i]%> </td>
                                <% } %>

                                <% if(info['s1d_2f_n'+i] == 1){%> 
                                <td class="centerCell" >Yes</td>
                                <% }else if(info['s1d_2f_n'+i] == 0){ %>
                                <td class="centerCell" >No</td>
                                <% }else{ %>
                                <td class="centerCell notAvail" >N/A</td>
                                <% } %>

                                <% if(info['s1d_2g_n'+i] == undefined){%> 
                                <td class="centerCell notAvail">N/A</td>
                                <% }else {%>
                                <td class="centerCell">  <%= info['s1d_2g_n'+i]%> </td>
                                <% } %>
                            </tr>
                            <% 
                            }
                            }
                             %>
                            <tr class="sectionNote">
                            <td colspan="6" class="noteStyle">Note: *If total number of staff in a facility is more than 20, we sampled 10% of all staff.
                            </td>
                            </tr>
                          
                        </table>
                    </td>
                </tr>
               
                <tr class="header2">
                    <td align="right" class="text-right sectionCell1">E.</td>
                    <td class="labelCell" colspan="6"><%= __("s1e") %>
                    </td>
                </tr>
               
                <tr>
                    <td align="right" class="text-right sectionCell1"></td>
                    <td class="labelCell" colspan="6">
                        <table class="table innertable" cellspacing="0">
                           
                            <tr>

                                <th class="tableHead"><%= __("s1e_1a_n") %></th>
                                <th class="tableHead"><%= __("s1e_1b_n") %></th>
                                <th class="tableHead"><%= __("s1e_1c_n") %></th>
                                <th class="tableHead"><%= __("s1e_1d_n") %></th>
                                <th class="tableHead"><%= __("s1e_1e_n") %></th>
                                <th class="tableHead"><%= __("s1e_1f_n") %>
                                </th>
                                <th class="tableHead"><%= __("s1e_1g_n") %>
                                </th>
                            </tr>
                            <%

                            for(i=1; i<8; i++) {
                            %>
                            <tr>
                                <td><%= __("s1e_1a_n"+i) %></td>

                                <% if(info['s1e_1b_n'+i] == 1){%> 
                                <td class="centerCell" >Yes</td>
                                <% }else if(info['s1e_1b_n'+i] == 0){ %>
                                <td class="centerCell" >No</td>
                                <% }else { %>
                                <td class="centerCell notAvail" >N/A</td>
                                <% } %>

                                <% if(info['s1e_1c_n'+i] == 1){%> 
                                <td class="centerCell" >Yes</td>
                                <% }else if(info['s1e_1c_n'+i] == 0){ %>
                                <td class="centerCell" >No</td>
                                <% }else { %>
                                <td class="centerCell notAvail" >N/A</td>
                                <% } %>

                                <% if(info['s1e_1d_n'+i] == 1){%> 
                                <td class="centerCell" >Yes</td>
                                <% }else if(info['s1e_1d_n'+i] == 0){ %>
                                <td class="centerCell" >No</td>
                                <% }else { %>
                                <td class="centerCell notAvail" >N/A</td>
                                <% } %>

                                <% if(info['s1e_1e_n'+i] == 1){%> 
                                <td class="centerCell" >Yes</td>
                                <% }else if(info['s1e_1e_n'+i] == 0){ %>
                                <td class="centerCell" >No</td>
                                <% }else { %>
                                <td class="centerCell notAvail" >N/A</td>
                                <% } %>

                                <% if(info['s1e_1f_n'+i] == 1){%> 
                                <td class="centerCell" >Yes</td>
                                <% }else if(info['s1e_1f_n'+i] == 0){ %>
                                <td class="centerCell" >No</td>
                                <% }else { %>
                                <td class="centerCell notAvail" >N/A</td>
                                <% } %>

                                <% if(info['s1e_1g_n'+i] == 1){%> 
                                <td class="centerCell" >Yes</td>
                                <% }else if(info['s1e_1g_n'+i] == 0){ %>
                                <td class="centerCell" >No</td>
                                
                                <% }else { %>
                                <td class="centerCell notAvail" >N/A</td>
                                <% } %>
                                
                                
                            </tr>
                            <% } %>
                         
                        </table>
                    </td>
                </tr>
                <!--inner table row-->
            </tbody>
        </table>
    </div>
<!--s1-->