    <script src="<%=sails.config.assetURL%>/pages/scripts/charts-highcharts.js" type="text/javascript"></script>
    <script src="<%=sails.config.assetURL%>/global/plugins/highcharts/js/highcharts.src.js" type="text/javascript"></script>
    <script src="<%=sails.config.assetURL%>/global/plugins/highcharts/js/modules/exporting.js" type="text/javascript"></script>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-app="closureModule" ng-controller="closureCtrl">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="breadcrumbDiv">
            <table width="100%">
                <tr>
                    <td>
                        <ul class="page-breadcrumb breadcrumb ">
                            <li>
                                <a href="<%=sails.config.routesPrefix%>/dashboard">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">Closures and Other Issues
                                </span>
                            </li>
                        </ul>

                    </td>
                    <td width="30%" align="right">
                        <div class="btn-group btn-group-solid ">
                        <a type="button" id="facility" class="btn green active button-rounder"  href="<%=sails.config.routesPrefix%>/closure/figure" style="border-color :#fdfdfd;">
                        <i class="fa fa-bar-chart" style="font-size: 14px;"></i>
                            Figures
                        </a>
                        <a type="button" id="facility" class="btn green  button-rounder" href="<%=sails.config.routesPrefix%>/closure/table" style="border-color :#fdfdfd;">
                            <i class="fa fa-table" style="font-size: 14px;"></i>
                            Tables
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>


    <div class="row" id="reportRow">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet box" style="background-color: white">
                <div class="headerSection">
                    <div class="headerLabelSection">
                        Closures Report - Figures
                    </div>
                </div>
                <div class="filterDiv">

                 <form role="form" class="filterTable">
                    <div class="row">
                        <div class="col-md-4 filterStyle" >
                            <div class="input-group">
                                <span class="input-group-addon filterLabel">
                                    County &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <select id="countyDropdown" class="form-control" ng-model="countyValue"
                                    ng-change="filterChange()">
                                    <%
                                    var map = CountyService.getCounties();
                                    for(i in map) {
                                    %><option value="<%= map[i].key %>"><%= map[i].value %></option><%
                                }
                                %>
                            </select></div>
                            <!-- /input-group -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-4 filterStyle">
                            <div class="input-group">

                                <span class="input-group-addon filterLabel">
                                    Ownership </span>
                                    <select class="form-control" id="ownershipDropdown" ng-model="ownershipValue" ng-change="filterChange()">
                                    <option value="All">All</option>
                                    <option value="Public">Public</option>
                                    <option value="Private">Private</option>
                                </select>
                            </div>
                            <!-- /input-group -->
                        </div>
                        <div class="col-md-4 filterStyle" >
                            <div class="input-group">

                                <span class="input-group-addon filterLabel">
                                 Level&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                                 <select class="form-control" id="levelDropdown" ng-model="levelValue" ng-change="filterChange()">
                                 <option value="All">All</option>
                                 <option value="Level 2">Level 2</option>
                                 <option value="Level 3">Level 3</option>
                                 <option value="Level 4">Level 4</option>
                                 <option value="Level 5">Level 5</option>
                             </select>
                         </div>
                         <!-- /input-group -->
                     </div>
                     <!-- /.col-md-6 -->
                 </div>
                 <!-- /.row -->
             </form>
         </div>

         <div class="portlet-body">
            <div class="row">
                <div class="col-md-6 col-sm-6 pageBrk" >
                    <div class="portlet light bordered">
                        <div class="row portlet-body">
                            <div id="closure_graph">
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pageBrk" >
                    <div class="portlet light bordered">
                        <div class="row portlet-body">
                            <div id="grace_graph">
                            </div>  
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
 <!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>
</div>
</div>
<!-- END PAGE CONTENT INNER -->
<script>
    highlightMenu(["closureOtherIssues"]);
</script>
