<script src="<%=sails.config.assetURL%>/global/plugins/highcharts/js/highcharts.js" type="text/javascript"></script>
<script src="<%=sails.config.assetURL%>/global/plugins/highcharts/js/highcharts-more.js" type="text/javascript"></script>
<script src="<%=sails.config.assetURL%>/global/plugins/highcharts/js/modules/exporting.js" type="text/javascript"></script>
<link href="<%=sails.config.assetURL%>/global/css/custom-media-query.css" rel="stylesheet" type="text/css"/>


<!-- BEGIN CONTENT -->
<div class="page-content-wrapper" ng-app="facilityLevelProgressModule" ng-controller="facilityLevelProgressController">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE BREADCRUMB -->
        <div class="breadcrumbDiv">
            <table width="100%">
                <tr>
                    <td>
                        <ul class="page-breadcrumb breadcrumb ">
                            <li>
                                <a href="<%=sails.config.routesPrefix%>/dashboard">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span class="active">Facility-Level Progress</span>
                            </li>
                        </ul>
                    </td>
                    <td width="30%" align="right">
                            <div class="btn-group btn-group-solid ">
                                <a type="button" class="btn green active resTab kepsie-tabs" href="<%=sails.config.routesPrefix%>/facilityLevelProgress" >
                                <i class="fa fa-bar-chart" style="font-size: 14px;"></i>
                                   Figures</a>
                                   <a type="button" class="btn green resTab kepsie-tabs" href="<%=sails.config.routesPrefix%>/inspectionprogress/dataBank" style="border-color:#fdfdfd">
                                    <i class="fa fa-table" style="font-size: 14px;"></i>
                                    Tables</a>
                               </div>
                           </td>
                       </tr>
                   </table>
               </div>

               <div class="row" id="reportRow">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet box" style="background-color: white">
                        <div class="headerSection">
                           <div class="headerLabelSection">
                            Facility-Level Progress - Figures
                        </div>
                        <div class="exportSection">
                        <form style="display:inline-block" id="reportPDFForm" action="<%=sails.config.routesPrefix%>/facilityLevel/figure/exportFigureAsPDF" method="POST">
                            <input type="hidden" id="reportHTML" name="reportHTML"/>
                        </form>
                        <button id="export_all">PDF
                            <i class="fa fa-download"></i>
                        </button>
                    </div>
                </div>
                <div class="filterDiv">
                    <form role="form" class="filterTable">
                        <div class="row" style="padding-top: 0.5%;">
                            <div class="col-md-1 col-sm-1 col-xs-12">
                               <span class="input-group-addon filterLabel leftalign">
                                  Indicators </span>
                              </div>
                              <div class="col-md-3 col-sm-3 col-xs-8" style="padding-left:0px;padding-right:0px;">
                                <select style="font-size:12px !important" class="form-control" id="seriesDropdown" title="{{selectedSeries.value}}" ng-model="selectedSeries" ng-change="filterChanged()" ng-options="series.value for series in seriesData track by series.key"></select>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-12" >
                                <span class="input-group-addon filterLabel leftalign">Facility Type </span>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-8" style="padding-left:0px;padding-right:0px;">
                                <select class="form-control" id="hfTypeDropdown" ng-model="selectedType" ng-change="filterChanged()" ng-options="type.value for type in typeData track by type.key"></select>
                            </div>

                            <div class="col-md-1 col-sm-1 col-xs-12" >
                               <span class="input-group-addon filterLabel leftalign">County </span>
                           </div>
                           <div class="col-md-3 col-sm-3 col-xs-8"  style="padding-bottom: 6px;padding-left:0px;padding-right:0px;">
                            <select class="form-control" id="countyDropdown" ng-model="selectedCounty" ng-change="filterChanged()" ng-options="c.value for c in counties track by c.key"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div id="innerHTML" class="portlet-body table-responsive">
                <table class=" table table-bordered" id="summaryReportFigure25" 
                style="display:none;width:100%">

                <tr>
                    <td id="figure251" style="width:50%" class="figure">
                    </td>

                    <td id="figure252" style="width:50%" class="figure"></td>
                </tr>
                <tr>
                    <td id="figure253" style="width:50%" class="figure"></td>
                    <td id="figure254" style="width:50%" class="figure"></td>
                </tr>
                <tr><td colspan="2" height="5" ng-hide="selectedSeries.key=='2'"  style="
                    padding: 0px;font-size: 11px !important;

                    ">Note: due to rounding, numbers presented throughout may not add up precisely.</td></tr>

                </table>

                <table class="table table-bordered figureTable" id="summaryReportFigure1" style="display:none;width:100%">

                    <tr>
                        <td id="figure1" style="width:50%" class="figure">

                        </td>
                        <td  id="figure2" class="figure"></td>
                    </tr>
                    <tr >
                        <td id="figure3" class="figure"></td>
                        <td id="figure4" class="figure"></td>
                    </tr>
                    <tr>
                        <td colspan="2" height="5" ng-hide="selectedSeries.key=='2'"  style="
                        padding: 0px;font-size: 11px !important;

                        ">Note: due to rounding, numbers presented throughout may not add up precisely.</td></tr>

                    </table>
                    <table class="table table-bordered figureTable" id="summaryReportFigure2" 
                    style="display:none;width:100%">

                        <tr>
                         <td id="figure5" class="figure">
                         </td>
                     </tr>
                     <tr><td colspan="2" height="5" ng-hide="selectedSeries.key=='2'" style="
                        padding: 0px;font-size: 11px !important;

                        ">Note: due to rounding, numbers presented throughout may not add up precisely.</td></tr>
                    </table>
                    <div id="summaryReportFigure3" class="figureTable" 
                    style="display:none">
                        <table class="" style="width:100%;page-break-inside: avoid;">
                           <tr class="noBorder">
                            <td class="figureHeading">
                             <div id="countyHeader1" class="countyHeader countyHeaderMargin" style="display: block;">
                                County: All
                            </div>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td id="figure11" style="width:50%" class="figureByUnitByLevel figure">

                        </td>
                        <td id="figure12" class="figureByUnitByLevel figure">
                        </td>
                    </tr>
                    <tr>
                        <td id="figure13" class="figureByUnitByLevel figure">
                        </td>
                        <td id="figure14" class="figureByUnitByLevel figure"></td>
                    </tr>
                </table>
                <table class="" style="width:100%; page-break-before: always;">
                    <tr>
                        <td class="figureHeading">
                            <div id="countyHeader1" class="countyHeader countyHeaderMargin" style="display: block;">
                                County: Kakamega
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="figure15" style="width:50%" class="figureByUnitByLevel figure">

                        </td>
                        <td id="figure16" class="figureByUnitByLevel figure"></td>
                    </tr>
                    <tr>
                        <td id="figure17" class="figureByUnitByLevel figure"></td>
                        <td id="figure18" class="figureByUnitByLevel figure"></td>
                    </tr>
                </table>
                <table class="" style="width:100%;page-break-before: always;">
                  <tr>
                     <td class="figureHeading">
                       <div id="countyHeader1" class="countyHeader countyHeaderMargin" style="display: block;">

                        County: Kilifi

                    </tr>

                    <tr> 
                        <td id="figure19" style="width:50%" class="figureByUnitByLevel figure">

                        </td>
                        <td id="figure20" class="figureByUnitByLevel figure"></td>
                    </tr>
                    <tr>
                        <td id="figure21" class="figureByUnitByLevel figure"></td>
                        <td id="figure22" class="figureByUnitByLevel figure"></td>
                    </tr>
                </table>
                <table class="" style="width:100%;page-break-before: always;">
                    <tr>
                        <td class="figureHeading">
                            <div id="countyHeader1" class="countyHeader countyHeaderMargin" style="display: block;">
                                County: Meru
                            </div>
                        </tr>

                        <tr>
                            <td id="figure23" style="width:50%" class="figureByUnitByLevel figure">

                            </td>
                            <td id="figure24" class="figureByUnitByLevel figure"></td>
                        </tr>
                        <tr>
                            <td id="figure25" class="figureByUnitByLevel figure"></td>
                            <td id="figure26" class="figureByUnitByLevel figure"></td>
                        </tr>

                        <tr>
                            <td colspan="2" height="5" ng-hide="selectedSeries.key=='2'"  style="padding: 0px;font-size: 11px !important;">Note: due to rounding, numbers presented throughout may not add up precisely.</td>
                        </tr>
                    </table>
                </div>
                <div id="summaryReportFigure4" class="figureTable" 
                    style="display:none">
                        <table class="" style="width:100%;page-break-inside: avoid;">
                           <tr class="noBorder">
                            <td class="figureHeading">
                             <div id="countyHeader1" class="countyHeader countyHeaderMargin" style="display: block;">
                                County: All
                            </div>
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td id="fig11" style="width:50%" class="figureByUnitByLevel figure">

                        </td>
                        <td id="fig12" class="figureByUnitByLevel figure">
                        </td>
                    </tr>
                    <tr>
                        <td id="fig13" class="figureByUnitByLevel figure">
                        </td>
                    </tr>
                </table>
                <table class="" style="width:100%; page-break-before: always;">
                    <tr>
                        <td class="figureHeading">
                            <div id="countyHeader1" class="countyHeader countyHeaderMargin" style="display: block;">
                                County: Kakamega
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="fig14" style="width:50%" class="figureByUnitByLevel figure">

                        </td>
                        <td id="fig15" class="figureByUnitByLevel figure"></td>
                    </tr>
                    <tr>
                        <td id="fig16" class="figureByUnitByLevel figure"></td>
                    </tr>
                </table>
                <table class="" style="width:100%;page-break-before: always;">
                  <tr>
                     <td class="figureHeading">
                       <div id="countyHeader1" class="countyHeader countyHeaderMargin" style="display: block;">

                        County: Kilifi

                    </tr>

                    <tr> 
                        <td id="fig17" style="width:50%" class="figureByUnitByLevel figure">

                        </td>
                        <td id="fig18" class="figureByUnitByLevel figure"></td>
                    </tr>
                    <tr>
                        <td id="fig19" class="figureByUnitByLevel figure"></td>
                        
                    </tr>
                </table>
                <table class="" style="width:100%;page-break-before: always;">
                    <tr>
                        <td class="figureHeading">
                            <div id="countyHeader1" class="countyHeader countyHeaderMargin" style="display: block;">
                                County: Meru
                            </div>
                        </tr>

                        <tr>
                            <td id="fig20" style="width:50%" class="figureByUnitByLevel figure"></td>
                            <td id="fig21" class="figureByUnitByLevel figure"></td>
                        </tr>
                        <tr>
                            
                            <td id="fig22" class="figureByUnitByLevel figure"></td>
                        </tr>

                        <tr>
                            <td colspan="2" height="5" ng-hide="selectedSeries.key=='2'"  style="padding: 0px;font-size: 11px !important;">Note: due to rounding, numbers presented throughout may not add up precisely.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>
</div>
<!-- END PAGE CONTENT INNER -->
</div>

<script>
    var filename = "<%=__('summary_jhic_figure_filename')%>";
    highlightMenu(["inspProgressPlanning","facilityLevelProgress"]);
</script>
