 <link href="<%=sails.config.assetURL%>/global/css/about.min.css" rel="stylesheet" type="text/css" />









<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" >
        <!-- BEGIN PAGE HEAD-->
         <ul class="page-breadcrumb breadcrumb">
      <li>
        <a href="<%=sails.config.routesPrefix%>/dashboard">Home</a>
        <i class="fa fa-circle"></i>
      </li>
     
      <li>
        <span class="active">About KePSIE</span>

      </li>
    </ul>
        <!-- END PAGE HEAD-->
       
        <!-- BEGIN PAGE BASE CONTENT -->
        <!-- BEGIN DASHBOARD STATS 1-->

  <div class="row margin-bottom-40">
                        <div class="col-lg-12">
                            <div class="portlet light about-text">
                          
         <h4> ABOUT KENYA PATIENT SAFETY IMPACT EVALUATION (KEPSIE) </h4>
       
       <!--  <div class="tools "></div> -->
     
                                <!-- <h4>
                                ABOUT KENYA PATIENT SAFETY IMPACT EVALUATION (KEPSIE) </h4> -->
                                <br/><br>
                                <div class="alert alert-info"> 1. BACKGROUND AND CONTEXT </div>
                                <p class="margin-top-20">KePSIE is a unique partnership between the Kenyan Government and the World Bank Group, building on long-term support for regulatory reform in the health sector through the Health in Africa program. It is the largest trial aimed at improving patient safety in low- and middle-income countries. The three main objectives and corresponding outputs are outlined below in Figure 1.  </p>
                                 <p class="margin-top-20"  style="font-style: italic;">Figure 1. KePSIE’s main objectives, corresponding outputs, and current status of each output. 

                                 </p>
                                <p>
                                     <img src="<%=sails.config.assetURL%>/images/figure1.png"  alt="" class="img-responsive" style="width:80%;margin:auto;" />

                                </p>
                                 <br/>
                                <div class="alert alert-info"> 2. A NEW REGULATORY FRAMEWORK FOR JOINT HEALTH INSPECTIONS</div>
                                <p>
                                    A new regulatory framework was gazetted recently under Cap 242, Legal Notice No. 46 on March 21, 2016 to conduct inspections in both private and public facilities (only private facilities were inspected prior to the reform). This new regulation includes a revised Joint Health Inspection Checklist (JHIC).
A few critical elements of the new regulatory framework include:
A more detailed and standardized checklist;
A scoring system to classify facilities according to their risk levels; and
A system of warnings and sanctions for non-compliant health facilities based on their compliance category.

Table 1 shows the compliance categorization of facilities based on their scores and corresponding follow-up actions. This also implies that some facilities in your counties will face the risk of closure if they fall into the “non-compliant” category. However, based on the new regulatory framework, they will also be given opportunities to be re-inspected, creating incentives for improvement and learning.
                                </p>

                                <p style="font-style: italic;">Table 1. Warnings and Sanctions as per the March 2016 Joint Health Inspection Checklist Gazette.</p>
                                <div class="img-with-text">
                                 <p>
                                     <img src="<%=sails.config.assetURL%>/images/figure2.png"  alt="" class="img-responsive" />

                                        Source: Legal Notice No. 46 of Cap 242 of the Laws of Kenya
                                </p>
                                
                                </div>
                              
                            </div>
                        </div>
                       <!-- <div class="col-lg-6">
                             <div class="portlet light about-text">
                                <h4>
                                    <i class="fa fa-check icon-info"></i>KePSIE Governance Structure</h4>
                            <img src="<%=sails.config.assetURL%>/images/kepsie-structure.png" style="width:100%; height:400px;border:0" > </img>
                        </div>  </div> -->
                 
                    <!-- END TEXT & VIDEO -->
                    <!-- BEGIN MEMBERS SUCCESS STORIES -->
                   <!-- <div class="row margin-bottom-40 stories-header" data-auto-height="true">
                        <div class="col-md-12">
                            <h1>ITEG Members</h1>
                            
                        </div>
                    </div>
                    <div class="row margin-bottom-20 stories-cont">
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Aggrey_Oriema.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> Aggrey Oriema</span>
                                </div>
                                <div class="desc">
                                    <span>Head of Secretariat, Public Health Officers and Technicians Council (PHOTC) </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Dr.Andrew_Were.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> Dr. Andrew Were </span>
                                </div>
                                <div class="desc">
                                    <span> Chairman, Inspection and Licensing Committee, Medical Practitioners and Dentists’ Board </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Beatrice_R_ROTTICH.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> Beatrice R. ROTTICH </span>
                                </div>
                                <div class="desc">
                                    <span> Senior Clinical Officer, Ministry of Health</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Dr.Gordon_NGUKA.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> Dr. Gordon NGUKA</span>
                                </div>
                                <div class="desc">
                                    <span>Chair of Department, Department of Nutritional Science, School of Public Health Biomedical Sciences and Technology, Masinde Muliro University of Science & Technology (MMUST) </span>
                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="row margin-bottom-20 stories-cont">
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/John_KABANYA.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> John KABANYA</span>
                                </div>
                                <div class="desc">
                                    <span>Head, Regulations and Continuing Professional Development, Ministry of Health </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Judith_KUDOYI.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> Judith KUDOYI </span>
                                </div>
                                <div class="desc">
                                    <span> Technical Officer, Nursing Council of Kenya </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Julius_Kaluai.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> Julius Kaluai  </span>
                                </div>
                                <div class="desc">
                                    <span> Head of Nairobi Region, Pharmacy and Poisons Board</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Patrick_Maleth_KISABEI.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span>  Patrick Maleth KISABEI</span>
                                </div>
                                <div class="desc">
                                    <span>Ag. Chief Executive Officer, Kenya Medical Laboratory Technicians and Technologists Board </span>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row margin-bottom-20 stories-cont">
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Perez_Auma_WAWIRE.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> Perez Auma WAWIRE</span>
                                </div>
                                <div class="desc">
                                    <span>Head, Registration and Licensing Department & Continuing Professional Development Coordinator, Clinical Officers Council </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="portlet light">
                                <div class="photo">
                                    <img src="<%=sails.config.assetURL%>/images/ITEG/Peter_M_KAGIRI.png" alt="" class="img-responsive" /> </div>
                                <div class="title">
                                    <span> Peter M. KAGIRI</span>
                                </div>
                                <div class="desc">
                                    <span> Head, Licencing Division/ Assistant Head, Inspection Division, Radiation Protection Board </span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                   
        -->
       
       
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->

<!-- END CONTENT -->





<!-- BEGIN CONTENT -->


<!-- END PAGE CONTENT INNER -->

<script>
    highlightMenu(["about"]);
</script>